:root {
  --color-primary: #0A2647;
  --color-secondary: #144272;
  --color-light: #205295;
  --color-extra-light: #2C74B3;
  --color-white: #fff;
  --color-black: #333;
}

.app {
  width: 100%;
  height: 100vh;
  color: var(--color-black);
}

.glass {
  height: 100vh;
  width: 100%;
  background: linear-gradient(65deg, rgba(0, 0, 0, 0), #000000 65%);
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(10px);
}

/* Home  */
.home {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: white;
}

.left {
  width: 50%;
  height: 100%;
}
.right {
  width: 50%;
  height: 100%;
}

/* left */

.form {
  padding: 20px 0px 20px 0px;
  width: 40%;
  text-align: center;
  background-color: #e1e1e11e;
  border-radius: .8em;
}

form {
  display: flex;
  align-items: center;
}

.form-item {
  width: 100%;
}

.form-item input, button{
  padding: 10px;
}

.form-heading {
  font-size: 36px;
  color: var(--color-white);
  margin-bottom: 25px;
}

.form-input{
  border: none;
  background-color: #f1f1f1;
  border-radius: 6px;
  outline: none;
  text-align: center;
  opacity: .7;
}

.form-input:last-child {
  margin-bottom: 20px;
  
}

.form-submit-btn, .form-join-btn {
  border: none;
  background-color: #e86b59;
  color: #e1e1e1;
  border-radius: 6px;
}

.form-join-btn {
  background-color: #21a168;
}

.or-label {
  color: #e1e1e1;
  margin-bottom: 20px;
  opacity: .7;
}

/* .join {
  margin-top: 12px;
  font-size: 15px;
  color: #f1f1f1;
  text-align: center;
}
.join-span {
  color: var(--color-extra-light);
}
.join-span a {
  text-decoration: none;
} */

/* right */

/* .logo-container {
  height: 100%;
  padding: 40px 0;
}
.ver-line {
  height: 250px;
  border-left: 2px solid #ccc;
}
.logo {
  padding: 20px 0;
  color: #f1f1f1;
} */

.rocket-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rocket-img {
  height: 70%;
  opacity: .7;
  border-radius: 1em;
}

/* Chat */
.chat-section {
  width: 100%;
  height: 100vh;
  padding: 10px 10px;
}

.chat-left {
  width: 25%;
  height: 100%;
}

.chat-middle {
  width: 50%;
  height: 100%;
  margin: 10px;
}

.chat-right {
  width: 25%;
  height: 100%;
}

.chat-left__logo {
  height: 100%;
  color: #333;
}

.chat-left__content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: .8em;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.chat-left__utils {
  padding: 0 10px 10px 10px;
}

.chat-left__utils_container {
  border-radius: .8em;
  background-color: #ececec;
  height: 82vh;
  font-size: 1.1em;
  font-weight: 500;
}

.arrow-icon {
  padding: 3px 8px;
  border-radius: 8px;
  background-color: #e1e1e1;
  cursor: pointer;
}

.hr-line {
  width: 100%;
  margin: 0 auto;
  border: none;
  height: 2px;
  background-color: #d0d0d0;
}

.switch-btn__container {
  width: 100%;
  background-color: #ececec;
  border-radius: 4px;
  display: none;
}
.switch {
  width: 50%;

  background-color: #47475b;
  display: none;
}
.switch p {
  cursor: pointer;
  border: 4px;
  display: none;
}
.switch p:hover {
  background-color: #f6f6f6;
}
.active-switch {
  background-color: #f6f6f6;
  display: none;
}

.activity {
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-black);
}

.online-green-dot {
  margin: 0;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 0;
  line-height: 30px;
  color: #5dc26a;
}

.chat-middle {
  border-radius: .8em;
  background-color: white;
  padding: 0 10px 10px 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mb-3 {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}

.space-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}

.message-section {
  height: 85vh;
  position: relative;
  background-color: #ececec;
  border-radius: .8em;
}

.message-section__content {
  height: 100%;
}
.received {
  text-align: left;
}
.sent {
  text-align: right;
}
.sender {
  font-size: 10px;
  margin-bottom: 10px;
}

.received__content,
.sent__content {
  display: inline-block;
  width: auto;
  border-radius: .4em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-size: 1.4em;
}

.received__content {
  background-color: #fff;
}
.sent__content {
  background-color: #ececec;
}

.input-box {
  padding: 10px 0 0 0;
}

.input-form {
  background-color: #fff;
  border-radius: .8em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.input-message {
  width: 100%;
  padding: 6px 14px;
  border: none;
  outline: none;
}

.input-submit-btn {
  border: none;
  background-color: transparent;
}
.input-submit-btn i {
  font-size: 22px;
}

.chat-right__content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: .8em;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.profile-section__content {
  padding: 20px 0 0 0;
}

.profile-container {
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
  border-radius: 50%;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.profile-name {
  font-weight: bolder;
  font-size: 1.8em;
  margin-bottom: 0;
}

.chat-right__utils_container {
  width: 100%;
  height: 60vh;
  border-radius: .8em;
  background-color: #ececec;
}

.room-item {
  border-radius: 8px;
}

.room-item-content p {
  color: #333;
  text-align: center;
}